/* $Id: $ */
.x-tab, .x-tab {
	width : 150px !important;
}
.x-form-label {
    background-color: #f7f7f7 !important;
}
.borderBlue{
	border: 5px solid #1363a0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
} 
#idCvAuth input{
	font-weight: bold;
	color: red !important;
	font-size: 22px;
	-webkit-tap-highlight-color: red !important;
	-webkit-text-fill-color: red !important;
}
.carrello_extraInfo{
	width:100%;		
}
.carrello_extraInfo p{
	margin:0 0 0 0;
	text-align:center;
	font-weight: bold;
}
.carrello_extraInfo fieldset{
	margin-top:0px;
	border-radius:5px;
	font-size: 14px;
}
.carrello_extraInfo legend{
	font-weight: bold;
	font-size: 16px;
	color: black;
	text-transform: uppercase;
}
.extr_info_commessa{
	padding-left: 10px;
	padding-top: 7px;
	height: 74px;
	text-align:left;
	border: 1px solid #000000;
   	font-weight: bold;
}
.cartLblColumn {
	float: left;
	display: inline;
	width: 29%;
}
.imgCartBox{
	float: right;
	display: inline;
	width: 13%;
	margin-top: -10px;
}
.firstRowCartBox{
	margin-left: 5px;
}
.secondRowCartBox{
	margin-top: 3px;
	margin-left: 5px;
}	